#hero {
  width: 100%;
  height: 100vh;
  background-image: url("../img/hero.jpg");
  background-position-y: 98%;
  background-position-x: center;
  background-size: 90%;
  background-repeat: no-repeat;
  background-color: rgb(212,239,250);
}

@media (min-width: 768px) {
  #hero {
    width: 100%;
    height: 100vh;
    background-image: url("../img/hero.jpg");
    background-position-y: 95%;
    background-position-x: 95%;
    background-size: 75%;
    background-repeat: no-repeat;
    background-color: rgb(212,239,250);
  }
}

@media (min-width: 992px) {
  #hero {
    width: 100%;
    height: 100vh;
    background-image: url("../img/hero.jpg");
    background-position-y: 92%;
    background-position-x: 92%;
    background-size: 60%;
    background-repeat: no-repeat;
    background-color: rgb(212,239,250);
  }
}

@media (min-width: 576px) {
  #navbar-brand {
    background-image: url("../img/logo.svg");
    width: 260px;
    background-repeat: no-repeat;
    height: 50px;
  }
}

.navbar-light .navbar-brand {
  background-image: url("../img/logo.svg");
  width: 220px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: 90%;
}

#navcol-1 {
  color: rgb(82,112,125);
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 0px;
  font-family: Aleo, serif;
  margin: 0px;
  padding: 18px;
  width: 842px;
  height: 68px;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #navcol-1 {
    color: rgb(82,112,125);
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 0px;
    font-family: Aleo, serif;
    margin: -23px;
    padding: 18px;
    width: 842px;
    height: 68px;
    text-transform: uppercase;
  }
}

.nav-item {
  font-size: 18px;
  color: rgb(82,112,125);
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.btn.btn-primary.ml-auto {
  background-color: rgb(82,112,125);
  width: 92px;
  height: 38px;
}

#promo {
  text-align: left;
}

@media (min-width: 992px) {
  #promo .jumbotron {
    border-radius: 10px;
    background-color: transparent;
    width: 40%;
    height: 500px;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 50%;
    text-align: left;
    padding-right: 60%;
    padding-top: 3%;
  }
}

#promo .jumbotron {
  border-radius: 10px;
  background-color: transparent;
  width: 100%;
  height: 350px;
  text-align: left;
  padding-top: 5%;
}

#ORC {
  width: 100%;
  height: 100vh;
  background-image: url("../img/ORC.svg");
  background-repeat: no-repeat;
  background-size: 67%;
  background-position-x: 10px;
  background-position-y: 270px;
}

#ORC-detail {
  background-color: transparent;
  margin: 10px 10px 10px 10px;
}

#ORC-introduction {
  background-color: transparent;
}

#simulator {
  width: 100%;
  height: 100vh;
  background-image: url("../img/simulator.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 10px 10px 10px;
}

