<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>simulator</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <section>
        <div>
            <form>
                <div id="param1-3" class="form-group"><label class="text-left" for="param1" style="font-size: 18px;padding: 16px;color: #50514f;"><strong>Pressure, temperature and mass flow rate @ 1</strong></label>
                    <div class="form-inline">
                        <div id="param1" class="input-group mb-3 col-4">
                            <div class="input-group-prepend"><span class="text-center input-group-text" id="basic-addon-1">Pressure</span></div><input class="form-control" type="number" id="param1" placeholder="20.4">
                            <div class="input-group-append"><span class="text-center input-group-text" id="basic-addon-2">Bar</span></div>
                        </div>
                        <div id="param2" class="input-group mb-3 col-4">
                            <div class="input-group-prepend"><span class="text-center input-group-text" id="basic-addon-1">Temperature</span></div><input class="form-control" type="number" id="param2" placeholder="12.9">
                            <div class="input-group-append"><span class="text-center input-group-text" id="basic-addon-2">°C</span></div>
                        </div>
                        <div id="param3" class="input-group mb-3 col-4">
                            <div class="input-group-prepend"><span class="text-center input-group-text" id="basic-addon-1">Mass flow rate</span></div><input class="form-control" type="number" id="param3" placeholder="4.8">
                            <div class="input-group-append"><span class="text-center input-group-text" id="basic-addon-2">kg/s</span></div>
                        </div>
                    </div>
                </div>
                <div id="param4" class="form-group"><label for="param4" style="font-size: 18px;padding: 16px;color: #50514f;"><strong>Temperature @ 7</strong></label>
                    <div class="form-inline">
                        <div id="param4" class="input-group mb-3 col-4">
                            <div class="input-group-prepend"><span class="text-center input-group-text" id="basic-addon-1">Temperature</span></div><input class="form-control" type="number" id="param4" placeholder="12.9">
                            <div class="input-group-append"><span class="text-center input-group-text" id="basic-addon-2">°C</span></div>
                        </div>
                    </div>
                </div>
                <div id="param5" class="form-group"><label for="param5" style="font-size: 18px;padding: 16px;color: #50514f;"><strong>Temperature @ 15</strong></label>
                    <div class="form-inline">
                        <div id="param5" class="input-group mb-3 col-4">
                            <div class="input-group-prepend"><span class="text-center input-group-text" id="basic-addon-1">Temperature</span></div><input class="form-control" type="number" id="param5" placeholder="12.9">
                            <div class="input-group-append"><span class="text-center input-group-text" id="basic-addon-2">°C</span></div>
                        </div>
                    </div>
                </div>
                <div id="param6" class="form-group"><label for="param6" style="font-size: 18px;padding: 16px;color: #50514f;"><strong>Pressure @ 9</strong></label>
                    <div class="form-inline">
                        <div id="param6" class="input-group mb-3 col-4">
                            <div class="input-group-prepend"><span class="text-center input-group-text" id="basic-addon-1">Pressure</span></div><input class="form-control" type="number" id="param6" placeholder="20.4">
                            <div class="input-group-append"><span class="text-center input-group-text" id="basic-addon-2">Bar</span></div>
                        </div>
                    </div>
                </div>
                <div id="param7" class="form-group"><label for="param7" style="font-size: 18px;padding: 16px;color: #50514f;"><strong>Temperature difference between 14 and 10</strong></label>
                    <div class="form-inline">
                        <div id="param7" class="input-group mb-3 col-4">
                            <div class="input-group-prepend"><span class="text-center input-group-text" id="basic-addon-1">Temperature</span></div><input class="form-control" type="number" id="param7" placeholder="100.3">
                            <div class="input-group-append"><span class="text-center input-group-text" id="basic-addon-2">°C</span></div>
                        </div>
                    </div>
                </div>
                <div id="param8-10" class="form-group"><label for="param8" style="font-size: 18px;padding: 16px;color: #50514f;"><strong>Temperature, humidity and pressure @ 9</strong></label>
                    <div class="form-inline">
                        <div id="param8" class="input-group mb-3 col-4">
                            <div class="input-group-prepend"><span class="text-center input-group-text" id="basic-addon-1">Temperature</span></div><input class="form-control" type="number" id="param8" placeholder="100.3">
                            <div class="input-group-append"><span class="text-center input-group-text" id="basic-addon-2">°C</span></div>
                        </div>
                        <div id="param9" class="input-group mb-3 col-4">
                            <div class="input-group-prepend"><span class="text-center input-group-text" id="basic-addon-1">Humidity</span></div><input class="form-control" type="number" id="param9" placeholder="67.3">
                            <div class="input-group-append"><span class="text-center input-group-text" id="basic-addon-2">%</span></div>
                        </div>
                        <div id="param10" class="input-group mb-3 col-4">
                            <div class="input-group-prepend"><span class="text-center input-group-text" id="basic-addon-1">Pressure</span></div><input class="form-control" type="number" id="param10" placeholder="12.9">
                            <div class="input-group-append"><span class="text-center input-group-text" id="basic-addon-2">Bar</span></div>
                        </div>
                    </div>
                </div>
                <div><button class="btn btn-primary activ" id="submit" type="submit" style="background-color: #52707d;margin: 8px;margin-left: 16px;">Start Calculation</button><button class="btn btn-secondary disabled" id="reset" type="reset" style="background-color: #52707d;margin-left: 8px;">Reset</button></div>
            </form>
        </div>
    </section>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>