<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aleo:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <section id="hero">
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container-fluid"><a class="navbar-brand" href="#" style="height: 34px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="../mainpage" style="font-size: 16px;">home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: rgb(82,112,125);font-size: 16px;">&nbsp;about orc</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="../simulator" style="color: rgb(82,112,125);font-size: 16px;">simulator</a></li>
                    </ul><button class="btn btn-primary ml-auto" id="sign_in" onclick="window.location.href = '../admin';" type="button">SIGN IN</button>
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="color: rgb(82,112,125);font-size: 16px;">about us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="promo">
            <div class="jumbotron text-left">
                <h1 style="font-size: 35px;font-family: Aleo, serif;color: rgb(82,112,125);">Introduction</h1>
                <p style="color: rgb(82,112,125);font-size: 16px;font-family: Aleo, serif;width: 400px;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.Nullam
                    id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.<br><br>.
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam.Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.<br></p>
                <p><a class="btn btn-primary" role="button" style="background-color: rgb(82,112,125);font-family: Aleo, serif;font-size: 13;color: #eff1f4;height: 35px;">Learn more</a></p>
            </div>
        </div>
    </section>
    <section id="ORC" style="background-color: rgb(230,230,230);">
        <div id="ORC-detail">
            <div class="jumbotron text-justify" id="ORC-introduction" style="max-width: 400px;height: 793px;margin-left: 1000px;color: rgb(80,81,79);">
                <h2 style="font-family: Aleo, serif;">About ORC Process</h2>
                <p style="font-family: Aleo, serif;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.Nullam
                    id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.<br><br>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.<br></p>
                <p><a class="btn btn-primary" role="button" style="background-color: rgb(82,112,125);font-family: Aleo, serif;font-size: 13;color: #eff1f4;height: 35px;">Learn more</a></p>
            </div>
        </div>
    </section>
    <section id="simulator" style="width: 1440px;height: 800px;background-position: center;background-size: 100%;">
        <div id="Simulator" style="width: 1440px;height: 800px;"><button class="btn btn-primary" type="button" style="background-color: #52707d;margin-top: 600px;margin-bottom: 0px;margin-left: 1230px;" onclick="window.location.href = '../simulator';">Start Simulator</button></div>
    </section>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
</body>

</html>